<app-navbar [users]="users" />
<div class="container my-4">
  <router-outlet></router-outlet>
  <!--  <div class="row">
    @if (open) {
      <div class="abrir-modal">
        <user-form
          (newUserEventEmitter)="addUser($event)"
          [user]="userSelected"
          (openEventEmmit)="setOpen()"
        />
      </div>
    }
    <div class="col-12">
      <app-user
        [users]="users"
        (idUserEventEmitter)="removeUser($event)"
        (selectUserEventEmitter)="editUser($event)"
      />
    </div>
  </div> -->
</div>
